body {
    margin: 0;
    background: #a8c0ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e472de, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e472de, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1, h2, h3, h4, h5, h6, a, p {
    margin: 0
}

#fade {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 5;
    background-color: white;
}

#top {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-text {
    transition: 1s;
    -webkit-transition: 1s;
    transform: scale(1.3);
}

.top-text-animation {
    transform: scale(1);
}

.top-text h1 {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5em;
    font-style: italic;
    font-weight: 700;
}

.top-text p {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 2em;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .top-text h1 {
        font-size: 3em;
    }

    .top-text p {
        font-size: 1.3em;
    }
}
 
@media all and (min-width: 480px) and (max-width: 768px) {
    .top-text h1 {
        font-size: 3em;
    }

    .top-text p {
        font-size: 1.3em;
    }
 }
 
@media all and (max-width: 480px) {
    .top-text h1 {
        font-size: 3em;
    }

    .top-text p {
        font-size: 1.3em;
    }
}

#about {
    text-align: center;
    padding: 10% 2%;
}

#about h1 {
    font-size: 2.5em;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    margin: 50px 0;
    font-style: italic;
    font-weight: 700;
}

#about p {
    font-family: 'Kosugi', sans-serif;
    color: white;
    font-size: 1.3em;
    margin: 50px 0;
}

.logo-img {
    max-width: 300px;
    border-radius: 50%;
}

#works {
    padding: 10% 20%;
}


@media all and (min-width: 768px) and (max-width: 1024px) {
    #works {
        padding: 10% 20%;
    }
}
 
@media all and (min-width: 480px) and (max-width: 768px) {
    #works {
        padding: 10% 20%;
    }
 }
 
@media all and (max-width: 480px) {
    #works {
        padding: 10% 2%;
    }
}


.works-text {
    text-align: center;
}

.works-text h1 {
    font-size: 2.5em;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    margin: 50px 0;
    font-style: italic;
    font-weight: 700;
}

.works-link p, a {
    text-decoration: none;
}

.works-text p {
    font-family: 'Kosugi', sans-serif;
    color: white;
    font-size: 1.3em;
    margin: 50px 0;
}

.works-content {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin: 20px 0;
    transition: 0.3s;
}

.works-content:hover {
    transform: translateX(20px);
}

.works-img {
    width: 400px;
    margin: 0 10px;
    height: auto;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .works-img {
        width: 400px;
        margin: 0 10px;
    }
}
 
@media all and (min-width: 480px) and (max-width: 768px) {
    .works-img {
        width: 400px;
        margin: 0 10px;
    }
 }
 
@media all and (max-width: 480px) {
    .works-img {
        width: 340px;
        margin: 0 10px;
        height: 191.25px;
    }
}

.works-desc {
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.works-desc-child {
    flex: 1;   
}

.works-desc h1 {
    font-family: 'Kosugi', sans-serif;
    color: white;
    font-size: 2em;
    margin: 10px 0;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .works-img {
        width: 400px;
        margin: 0 10px;
    }
}
 
@media all and (min-width: 480px) and (max-width: 768px) {
    .works-img {
        width: 400px;
        margin: 0 10px;
    }
 }
 
@media all and (max-width: 480px) {
    .works-desc h1 {
        font-size: 1.4em;
    }
}

.works-desc p {
    font-family: 'Kosugi', sans-serif;
    color: white;
    margin: 10px 0;
}

.visible, .invisible {
    opacity: 0.0;
    transform: translateY(25px);
    transition: 1s;
}

.visible {
    opacity: 1.0;
    transform: translateY(0);
}

#footer {
    text-align: center;
    padding: 50px 0;
}

#footer p {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-style: italic;
    font-weight: 400;
}

#footer a {
    text-decoration: none;
    color: #58ffdb;
}

#contact {
    text-align: center;
    padding: 10% 2%;
}

#contact h1 {
    font-size: 2.5em;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    margin: 50px 0;
    font-style: italic;
    font-weight: 700;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .works-img {
        width: 400px;
        margin: 0 10px;
    }
}
 
@media all and (min-width: 480px) and (max-width: 768px) {
    .works-img {
        width: 400px;
        margin: 0 10px;
    }
 }
 
@media all and (max-width: 480px) {
    #contact h1 {
        font-size: 2em;
    }    
}

#contact p {
    font-family: 'Kosugi', sans-serif;
    color: white;
    font-size: 1.3em;
    margin: 50px 0;
}

#contact a {
    font-family: 'Kosugi', sans-serif;
    text-decoration: none;
    color: rgb(188, 217, 255);
}

.button {
    font-family: 'Josefin Sans', sans-serif !important;
    color: white !important;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px 20px;
    font-style: italic;
    font-weight: 400;
}

.button:hover {
    color: rgb(0, 0, 0) !important;
    background-color: white !important;
}